*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
a {
  color: #be3d6d;
  text-decoration: none;
}


a:focus,
a:hover {
  color: #e6b2b8;
}

body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.4em;
  line-height: 1.3;
  margin-top: 0em;
}

img {
  max-width: 60%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 2.4em;
  margin-bottom: 3.5em;
}

header {
  background-image: url(background.jpg);
  background-color: #999;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 1em;
  text-align: center;
  height: 480px;
 
}

header h1 {
  color: black;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0,0.5);
  position: relative;
  top: 250px;
  font-weight: 300;
}

header p {
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}


section ul li, section ol li {
  font-size: 1.4em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2.8em;
  margin-bottom: 2em;
}


@media screen and (min-width: 60em) {
  header {
    height: 320px;
  }
  
  header h1 {
    font-size: 4em;
    top: 70px;
  }
  
  header p {
    top: 100px;
    font-size: 2em;
  }
}


.container {
  max-width: 50em;
  width:100%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " ";  
    display: table;  
}

.row:after {
    clear: both;
}


.row {
  *zoom: 1;
}


.grid-2,
.grid-4 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-2 { width: 33.3333333%; }
  .grid-4 { width: 66.6666666%; }
}
